<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <h1>Signup</h1>
    <form method='post'>
        <table>
            <tr>
                <td><label for='username'>Username</label></td>
                <td><input type='text' name='username' id='username' value="{{ username }}"></td>
                <td><span class='error'></span>{{ username_errors }}</td>
            </tr>
            <tr>
                <td><label for='password'>Password</label></td>
                <td><input type='password' name='password' id='password'></td>
                <td><span class='error'></span>{{ password_errors }}</td>
            </tr>
            <tr>
                <td><label for='verify'>Verify Password</label></td>
                <td><input type='password' name='verify' id='verify'></td>
                <td><span class='error'>{{ verify_errors }}</span></td>
            </tr>
            <tr>
                <td><label for='email'>Email (optional)</label></td>
                <td><input type='text' name='email' id='email' value="{{ email }}"></td>
                <td><span class='error'>{{ email_errors }}</span></td>
            </tr>
            <tr>
                <td><input type='submit' value='Submit'></td>
            </tr>
        </table>
    </form>
</body>
</html>